.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0, 4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: grey;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
}

.modal__content.modal.active {
    transform: scale(1);
}