.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: px;
    border-radius: 4px;
    font-weight: bold;
}
.header a.logo {
    font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header-right a {
    padding-right: 190px;
    padding-top: 20px;
}
  
.header-right {
    float: right;
    padding-right: 50px;
}
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}